<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, intial-sacle=1.0">
		<title>Forgot Password</title>
			<!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="home.css">
		<link rel="stylesheet" href="forgot_password.css"> 
	</head>
	<body>
			<br>
			<a class="backtohome" href="home.html"><i class="small material-icons">home</i></a> 
		<div class="loginBox">
			<img src="images/user.png" class="user">
			<br>
			<h2>FORGOT PASSWORD</h2>
			<form method="POST" action="forgotpassword" id="forgotpassword-form">
				<div class="rows">
					<div class="col s12">
				<p>Email</p>
				<input type="email" id="eid" name="eid" placeholder="Enter Email" required>
				</div></div>
				<br>
				<div class="rows">
						<div class="col s12">
                <p>New Password</p>
				<input type="password" id="pass" name="pass" placeholder="••••••" required>
				</div></div>
				<br>
				<input type="submit" id="updatepassword" class="updatepassword" value="UPDATE PASSWORD">UPDATE PASSWORD</a>
                <br><br><br>
                <p>Back  To  LOGIN</p><br>
				<a class="login" href="login.html">LOGIN</a>           
            </form>
		</div>
	</body>
</html>
